.main {
  position: absolute;
  width: 50%;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -25%;
  text-align: center;
  border: 1px solid#fff;
  .introduce{
    width: 100%;
    display: block;
    color: #ffffff;
  }

}
.page{
  height: 100px;
  width: 100px;
  margin: 20px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid#00bce1;
}